<div ng-controller="map_ctrl" id="div_container_map">
	<md-content layout="row">
		<div layout="column" flex="80">
			<h1>{{labels.map}}</h1>
			<div id="my_map"></div>
		</div>
		<div layout="column" flex="20">
			<!-- <md-button class="md-raised md-primary" ng-click="loadAllRoutes()">{{labels.load_button}}</md-button> -->
			<div layout= "column" ng-show="processing">
				<h4 >{{lab_processing}}</h4>
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			
		</div>
	</md-content>
</div>