<div ng-controller="other_ctrl" id = "popupContainer" >
	<md-content layout="column">
		<h1>{{title}}</h1>
		<div layout="row" layout-padding>
			<div flex = "20">				
				<label>{{labels.select_bus}}</label>
				<md-select ng-model="selectedBus">
					<md-option ng-repeat="u in buses" value="{{u}}">
						{{u}}
					</md-option>
				</md-select>
			</div>

		   <div flex = "20">
			   <label>{{labels.date}}</label>
			   <br><br>
				<md-datepicker ng-model="myDate" md-placeholder="myDate"
                  md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
			</div>

			<div layout="row" ng-show="loading">
				<h4>Loading please wait...</h4>
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<h4>{{current_date}}</h4>
		</div>
		<div layout="column" flex="100">
			<div id="route_map"></div>
		</div>
		<div layout="column" flex>
			<!-- <h5>{{labels.slider}}</h5> -->
			<!-- <md-slider class="md-primary" ng-model="pointIndex" min = "0" max = "{{route_points_counter}}" step = "1"></md-slider> -->
			<h4>{{labels.vel_profile}}</h4>
			<div id="chart_vel_profile"></div>
		</div>

	<div style="visibility: hidden">
		<div class="md-dialog-container" id="myDialog">
		<md-dialog layout-padding>
			<h2>Pre-Rendered Dialog</h2>
			<p>
			This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
			template on each opening.
			<br/><br/>
			The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
			Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
			we restore the element back into its old DOM position.
			</p>
		</md-dialog>
		</div>
  </div>
	

	</md-content>
</div>
